page-home {
  ion-card {
    .card-md {
      border-radius: 6 px;
      color: #444;
    }

    .card-header-md {
      color: #444;
    }

    .saldo {
      color: white;
      float: right;
      position: relative;

      .valor {
        font-size: 2.5rem;
        padding-left: 18px;
      }

      .moeda {
        font-size: 1.2rem;
        position: absolute;
        top: 4px;
      }
    }

    a {
      color: #444;
      text-decoration: none;

      ion-icon {
        margin-left: 2px;
        font-size: 12px;
      }
    }
  }

  ion-card.card-blue {
    background: #1DC8FE;
  }

  ion-card.card-dark-blue {
    background: #24A4E9;
  }

  ion-card.card-green {
    background: #1CF2A7
  }
}
