page-home {
  ion-header {
    background: -webkit-linear-gradient(left, #24a4e9 0%,#4e7bd4 100%);
    color: white;

    ion-toolbar {
      margin-top: 14px;
    }

    ion-toolbar.toolbar-md {
      padding: 0;
    }

    .toolbar-background-md {
      background: inherit;
    }

    .bar-button-default-md {
      color: white;
    }

    .toolbar-title-md {
      color: white;
    }

    .label {
    }

    .saldo {
      // margin-top: 10px;
      margin-bottom: 20px;
      position: relative;

      .valor {
        font-size: 5rem;
        padding-left: 26px;
      }

      .moeda {
        font-size: 2rem;
        position: absolute;
        top: 8px;
      }
    }

    .waves {
      width: 100%;
      height: 60px;
      position: relative;
      overflow: hidden;
    }

    .wave {
      opacity: .4;
      position: absolute;
      top: 3%;
      left: 50%;
      background: #0af;
      width: 500px;
      height: 500px;
      margin-left: -250px;
      margin-top: 10px;
      border-radius: 43%;
      transform: rotate(10deg);
    }

    .wave-one {
      margin-left: -140px;
    }

    .wave.-two {
      margin-left: -450px;
      transform: rotate(300deg);
      opacity: .1;
      background: yellow;
    }

    .wave.-three {
      margin-left: -200px;
      transform: rotate(150deg);
    }
  }

  ion-card {
    .card-md {
      border-radius: 6 px;
      color: #444;
    }

    .card-header-md {
      color: #444;
    }

    .saldo {
      color: white;
      float: right;
      position: relative;

      .valor {
        font-size: 2.5rem;
        padding-left: 18px;
      }

      .moeda {
        font-size: 1.2rem;
        position: absolute;
        top: 4px;
      }
    }

    a {
      color: #444;
      text-decoration: none;

      ion-icon {
        margin-left: 2px;
        font-size: 12px;
      }
    }
  }

  ion-card.card-blue {
    background: #1DC8FE;
  }

  ion-card.card-dark-blue {
    background: #24A4E9;
  }

  ion-card.card-green {
    background: #1CF2A7
  }
}
