page-filhos-detalhe {

  ion-navbar {
    ion-title {
      span {
        float: right;
      }
    }
  }

  .detalhe {
    .data {
        float:left;
    }

    .valor {
        float: right;
    }
  }

  .empty {
    margin-top: 20px;
    color: #888;

    h1 {
      padding:8px 20px;
      font-size: 2rem;
    }

    ion-icon {
      margin-top: 20px;
      font-size: 5rem;
    }
  }
}
