<!--
  Generated template for the FilhosDetalhePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      {{filho.nome}}
      <span>{{filho.idade}} anos</span>
    </ion-title>
  </ion-navbar>

  <ion-toolbar text-center>
    <div class="label">Saldo em conta</div>
    <div class="saldo">
      <span class="moeda">R$</span>
      <span class="valor">{{filho.saldo | number:'1.2-2'}}</span>
    </div>

    <div class="waves">
      <div class="wave -one"></div>
      <div class="wave -two"></div>
      <div class="wave -three"></div>
    </div>

    <div style="position:absolute;left:0;right:0;bottom:8px" text-center>
      <div class="label">Saúde financeira</div>
      <ion-icon name="happy" style="font-size:4rem"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="filho.detalhesSaldo == null || filho.detalhesSaldo.length == 0" class="empty" text-center>
    <ion-icon name="basket"></ion-icon>
    <h1>Ainda sem movimentações</h1>
  </div>
  <ion-list *ngIf="filho.detalhesSaldo && filho.detalhesSaldo.length > 0">
    <ion-item class="detalhe" *ngFor="let detalhe of filho.detalhesSaldo">
      <p class="data">{{detalhe.data}}</p>
      <p class="valor">R$ {{detalhe.valor | number:'1.2-2'}}</p>
    </ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab (click)="onMesadaClick($event)">
      <ion-icon name="cash"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
